<!-- Remove styling -->
<div class = "show_question" style="font-size:13px;background-color:#2B3B50;font-color:#000000;color:#ffffff;width:700px; padding:2px 10px">

<%= render "show_ques_partial" %>

</div>
