
<h2 style = "float:left">Listing questions</h2>

<p style = "float:right">
	Search: <%= params[:text].nil? ? text_field_tag(:search, nil, :size => 50) : text_field_tag(:search, params[:text], :size => 50) %>
</p>

<br />

<div id = "showing_ques">
  <%= render "showing_fetch_ques" %>
</div>

<span style="clear:both"></span>

<script>
$('.pagination a').attr('data-remote', 'true');

$(document).ready(function() {
  $("#search").keyup(function(e) {
		// DOnt send ajax if keypressed is enter and esc/tab
    if(e.which == 27 || e.which == 13 || e.which == 9 || e.which == 18) {
      e.preventDefault();
    } else {
      $.ajax({
        url: '<%= questions_path %>', 
        dataType: 'script',
        type: 'get', 
        data: 'text='+$("#search").val()
      });
    }
  });
});
</script>
