
<h2 style = "float:left">Listing questions</h2>
<p style = "float:right">Search: <%= text_field_tag :search, nil, :size => 50 %></p>
<br />
<div id = "showing_ques">
  <%= render "showing_fetch_ques" %>
</div>
<br/>

<%= will_paginate @questions %>

<span style="clear:both"></span>

<script>
$(document).ready(function() {
  $("#search").keyup(function(e) {
    if(e.which == 27 || e.which == 13) {
      e.preventDefault();
    } else {
      $.ajax({
        url: '<%= show_search_questions_path %>', 
        dataType: 'script',
        type: 'get', 
        data: 'text='+$("#search").val()
      });
    }
  });
});
</script>
