<html>
  <body>
    <h3>Hi!</h3>
    &nbsp;&nbsp;<p>Your email id has been added at <b>Vinsol's Questionnaire</b> as admin.</p>
    <br/>
    &nbsp;&nbsp;<p>Go to login page by clicking the link below.</p>
    &nbsp;&nbsp;<p><%= @url %></p>
    <br/>
    <p style='color:red;'>Note: Login is based on your Vinsol's account.</p>
  </body>
</html>
