<html>
  <body style='font-size:120%'>
    <div style='font-size:140%'>Hi!</div><br/>
    <div style='font-size:130%'>Your email id has been added at <b>Vinsol's Questionnaire</b> as admin.</div>
    <br/>
    <p>&nbsp;&nbsp;Go to login page by clicking the link below.<br />
    &nbsp;&nbsp;&nbsp;&nbsp;<%= @url %></p>
    <br/>
    <span style='color:red;'>Note: Login is based on your Vinsol's account.</span>
  </body>
</html>
