body
{
	margin: 0;
}

div#mainHead
{
	background-color:#000f2e;
}

div#mainHead p
{
	font-size:13px;
}

div#mainHead h1
{
	color:#ffffff;
	margin:0px 0 20px 30px;
}

div.mainMenu
{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border:1px outset white;
	margin:0 30px 0 30px;
	padding:2px 0px 1px;
	background-color:#ededed;
}
div.mainMenu ul li
{
	font-size:13px;
}

div.mainMenu ul.firstlist
{
	margin:0;
	list-style-type:none;
}

div.mainMenu ul.firstlist li
{
	margin-left: -19px;
	padding: 2px 9px;
	float:left;
}

div.mainMenu ul.seclist
{
	margin:0;
	list-style-type:  none;
}

div.mainMenu ul.seclist li
{
	margin-left:-19px;
	padding: 2px 9px;
	float:right;
}

div.mainMenu ul li a
{
	padding: 4px 8px;
	text-decoration:none;
	color:#000000;
}

div.mainMenu ul li a:hover
{
	background-color:#e5e5e5;
}

.tab_color {
  background-color:#e5e5e5;
}

div.mainContent
{
	padding:10px 30px 0 30px;
	background-color:#e5e5e5;
}

div.mainContent p
{
	font-size:13px;
}

div.rightContent
{
	border: none;
	width:350px;
	padding-left: 10px;
}
div.rightContent p
{
	font-size:13px;
}

div#write p
{
	font-size:13px;
}

div#write
{
  border-radius: 10px 10px;
  border: 2px outset white;
	background-color:#ffffff;
	padding:1px 15px 20px 30px;
	width:900px;
}

#forlink a:hover
{
	background-color:#ffffff;
}

div.rightContent hr
{
	margin: -10px;
}
div.leftsub
{
	border-radius:10px;
	background-color:#ffffff;
	padding:2px 0 2px 10px;
	border: 2px outset white;
	margin-bottom:30px;
}
div.leftsub p
{
	font-size:13px;
}
div.footer
{
	border-radius:10px;
	background-color:#ffffff;
	text-align: center;
}
div.footer p
{
	font-size:13px;
}

div#mainMenu {
  background-color:#ffffff;
  border-bottom:none;
}

li#firstlist_1 {
  margin-left:-49px;
}

li#firstlist_1 a {
  border-top-left-radius: 10px;
}

li#firstlist_5 {
  margin-left:-49px;
}

li#firstlist_5 a {
  background-color: #e5e5e5;
  border-top-left-radius: 10px;
}

li#seclist_1 a {
  border-top-right-radius:10px;
}

li#seclist_1 {
  margin-right: -9px;
}

div.ques_login {
  margin: 15% 40%;
  width: 250px;
}

.error {
	font-size: 12px;
	color: #FC4144;
}

.field_with_errors {
  display: inline;
}

div.tag_name, div.level_name, div.cat_name {
  float:left;
  padding-left: 50px;
}

div.tag_count, div.level_count, div.cat_count {
  float: right;
  padding-right: 65px;
  color: #000F2E;
  font-size: 14px;
}

div#add_admin {
  margin: 8% 17%;
}

div#add_admin_button {
  margin: 3% 40%;
}

div.show_question {
  border: 1px dotted #000F2E;
  padding-left: 4px;
}

div#write a {
  color: #2F67D8;
  text-decoration : none;
  font-size : 13px;
}

div#write a:hover {
  color : #000F2E;
}

.extras {
  margin-top : 0px;
  float:left;
}
.ques_links {
  float:right;
  padding-right :10px;
}

.title_ques {
  font-size : 14px !important;
  width:75%;
}
br {
  clear:both;
}

.show_options {
  font-size: 13px;
  margin-top: 0px;
}

div.level_name a, div.tag_name a, div.cat_name a {
  color: #2F67D8;
  text-decoration : none;
  font-size : 15px;
}

div.level_name a:hover, div.tag_name a:hover, div.cat_name a:hover {
  color : #000F2E;
  font-size: 17px;
}

.list_line_even {
  background: #C5DAF8;
}

.list_line_odd {
  background: #BAADFC;
}

div#write h2 {
  margin: 10px 0px;
}

.pagination {
  float:right;
}

.disabled {
  display: none;
}

textarea {
  resize: none;
}

table#show_admins, table#show_admins td, table#show_admins tr, table#show_admins th {
  border: 1px outset #2F67D8;
}
table#show_admins td {
  padding: 4px 6px 4px 6px;
}

#tag_view {
  max-height: 175px;
  overflow: hidden;
}

#view_all_tags {
  display:none;
}

#view_all_tags a {
  color: #2F67D8;
  font-size: 15px;
  padding-right: 65px;
}

.float_left {
  float:left;
}

.float_right {
  float:right;
}

#for_option {
  padding-right: 135px;
}

#show_ques_partial {
  font-size:13px;
  background-color:#2B3B50;
  font-color:#000000;
  color:#ffffff;
  width:700px;
  padding:2px 10px
}

#page_ques {
  overflow:auto;
  max-height: 365px;
}
