div#form_left {
  float: left;
  width:40%;
}

div#form_left p {
  margin: 0 0 4px 0;
}

div#form_right {
  float: left;
  margin-left: 10px;
  border: 2px ridge white;
  border-radius: 10px 10px 10px 10px;
  padding: 0px 5px;
  width : 516px;
}

br {
  clear:both;
}

div#form_left .field {
  padding: 5px 0px;
}

div#ques_level {
  padding-top: 120px;
}

.hide {
  display : none;
}

#for_inst {
  margin-bottom:0;
}

#for_inst_body {
  margin-top:2px;
}

