div#form_left {
  float: left;
  font-size: 13px;
}

div#form_left .label_bold {
  font-weight: bold;
}

div#form_right {
  float: right;
  padding-right: 40px;
  font-size: 13px;
}

div#ques_category {
  padding-top: 10px;
}

div#form_right label {
  font-weight: bold;
}

br {
  clear:both;
}

div#form_left .field {
  padding: 10px 0px;
}

div#ques_level {
  padding-top: 130px;
}

.hide {
  display : none;
}

div#provide {
  margin-top: 110px;
}
